.catalog {
    &__content {
        padding-bottom: 40px;
        display: none;
        justify-content: center;
        align-items: top;
        gap: 17px;
        flex-wrap: wrap;
        transition: $hover-transition;
        &_active {
            display:flex;
        }
    }
    &__tabs {
        margin-top: 46px;
        list-style-type: none;
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 0;
        padding-bottom: 46px;
        transition: $hover-transition;
    }
    &__tab {
        font-weight: 400;
        font-size: 18px;   
        color: #6B6B6B;
        text-transform: uppercase;
        line-height: 52px;
        text-align: center;
        border: 2px solid #D0D0D0;
        width: 222px;
        height: 52px;
        transform:skewX(-25deg);
        div {
            transform:skewX(25deg);
        }
        cursor: pointer;
        &:hover {
            box-shadow: 3px 3px 20px #6B6B6B;
            transition: $hover-transition;
            border:none;
        }
        &_active {
            background: $main-theme-color;
            color: white;
            border:none;
        }
    }
    &-item {
        overflow: hidden;
        border: 2px solid #D0D0D0;
        text-align: center;
        padding:20px 15px;
        width: 303px;
        &__img {
            max-width: 100%;
            height: 140px;
        }
        hr {
            width: 263px;
            height: 4px;
            background: #E8E8E8;
            margin-top: 17px;
            margin-bottom: 17px;
        }
        &__title {
            font-weight: 700;
            font-size: 16px;
            margin-top: 16px;
        }
        &__descr {
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            margin-top: 16px;
        }
        &__link {
            font-weight: 500;
            font-size: 14px;
            color: $main-theme-color;
            text-transform: uppercase;
            margin-top: 10px;
            &:hover {
                color: $main-theme-color;
            }
        }
        &__back {
            font-weight: 500;
            font-size: 14px;
            color: $main-theme-color;
            text-transform: uppercase;
            margin-top: 10px;
            &:hover {
                color: $main-theme-color;
            }
        }
        &__footer {
            display:flex;
            justify-content: space-between;
        }
        &__old-price {
            font-weight: 300;
            font-size: 14px;
            text-decoration: line-through;
        }
        &__new-price {
            font-weight: 700;
            font-size: 20px;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 34px);
        }
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            &_active {
                transform: translateX(0%);
                margin-right: 17px;
            }
        }
        &__list {
            width: 50%;
            margin-left: 17px;
            transform: translateX(0%);
            padding-right: 17px;
            transition: $hover-transition;
            &_active {
                transform: translateX(-100%);
                margin-left: 0;
                
            }
            ul {
                list-style: none;
                padding-left: 15px;
                margin-bottom: 0;
                background-color: #fff;
            }
            li {
                text-align: left;
                font-weight: 300;
                font-size: 14px;
                line-height: 21px;
                color: #555555;
                margin-bottom: 5px;
                &:before {
                    content: "\2022"; 
                    color: $main-theme-color;
                    font-weight: bold;
                    display: inline-block; 
                    width: 1em; 
                    margin-left: -1em;
                }
            }
        }
    }
    
}