.consult {
    min-height: 680px;
    padding: 100px 0 94px 0;
    background: url("../img/consult_bg.webp") center center/cover no-repeat;
    //Validation errors
    .invalid {
        margin: 0 auto;
        color: #fff;
    }
}