.reviews {
    padding-top: 40px;
    &-item {
        display: flex;
        justify-content:center;
        align-items: flex-start;
        gap: 60px;
        margin-top: 60px;
        &__name {
            font-weight: 700;
            font-size: 18px;
            color: #0D0D0D;
        }
        &__img {
            width: 170px;
        }
        &__skill {
            font-weight: 500;
            font-size: 14px;
            color: #646464;
        }
        &__text {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #0D0D0D;
            margin-top: 10px;
        }
    }
    
    
}